@font-face{
  src: url('https://cdn.rawgit.com/AdithyaBhat17/would-you-rather/e7c3a808/src/assets/fonts/Dionisio-Bold.ttf');
  font-family: 'Dionisio';
}

@font-face{
  src: url('https://cdn.rawgit.com/AdithyaBhat17/would-you-rather/e7c3a808/src/assets/fonts/DankMono-Regular.ttf');
  font-family: 'Dank';
}

.box,.border-box{
  height:10px;
  width:10px;
  position: relative;
  padding: 5px 10px;
  border:2px solid #000;
  content: "";
}

.box{
  background-color:#000;
}



img{
  max-width: 100%;
}

textarea{
  resize: none;
}

.would-img{
  margin-top:5vh;
}

.tagline-s{
  font-family: Dionisio;
  margin-top:25vh;
}

.login-img{
  margin-top:15vh;
}

.tagline{
  font-family: Dionisio;
  margin-top:30vh;
}
.welcome{
  font-family: Dionisio;
}
.welcome,label{
  text-align:left !important;
}

.about,.tagline{
  text-align: left;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Dank;
  color: #000;
}

.App {
  padding-bottom:10px;
}

.loading{
  margin-top:25vh;
}

.avatar{
  width: 80px;
  height:80px;
  border-radius: 50%;
  border:3px solid #000;
  padding: 5px;
}


.active{
  background-color: #000 !important;
  opacity: 1 !important;
}

.questions{
  padding: 0 !important;
  display: flex;
  margin-left:-10px !important; 
}

.table-responsive{
  border:0;
}

.table{
  margin-top: 25px;
}

table,th,td{
  padding: 15px !important;
  border: 2px solid #000;
  text-align: center;
}



.thumbnail{
  padding: 25px;
  border:1px solid #000;
  border-radius: 0;
  margin:0 !important;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.1);
  text-align: center;
  width: 100%;
  cursor: pointer;
  float: left;
}

.progress {
  margin-top: 25px;
  margin-left: -30px !important; 
  width: 100% !important;
  background: #000;
  height: 25px;
  text-align: center;
  border-radius: 0;
  display: inline-flex;
  color: #E8F1E8;
  font-size: 20px;
}


.progress>.col-xs-6:nth-child(2){
  border-left:2px solid #fff;
}

h4{
  margin-top:15px;
  font-weight: bold;
}

.thumbnail-info{
  padding: 25px 4px;
  font-weight: bold;
  border:1px solid #181818;
  border-radius: 0;
  background-color:#181818;
  margin:0 !important;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.1);
  text-align: center;
  cursor: pointer;
}

.selected{
  background-color: #000;
  color:#fff;
}

.tab{
  text-align: center;
  margin-top:15px;
  opacity: 0.9;
  background-color:#000000cc;
  color:#fff;
  font-size: 1.25em;
  cursor: pointer;
}
.tab:nth-child(1){
  border-right: 2px solid #fff;
}

.form-control {
  color: #000;
  border:none;
  border-bottom: 2px solid #000;
  border-radius: 0;
  outline: none !important;
  box-shadow: 0 0 0!important;
}

.login,.submit{
  background-color: #000;
  color: #fff;
  border:none;
  padding:10px 15px;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.1)
}

.down{
  margin-bottom: 15px !important;
}

.lead-img{
  width:50px;
  border:2px solid #000;
  border-radius:50%;
  padding:5px;
}

.submit{
  display: block;
  text-align:center;
  margin: 30px auto !important;
}

.error-text{
  margin-top:25px;
  font-size: 2em
}
.error-img{
  display: block;
  width: 50%;
  margin:10vh auto;
}

.poll-input{
  border: 0;
  text-align: center;
  font-size: 18px;
}

@media only screen and (max-width:768px){
  .would-img{
    margin-top:10vh
  }
  .progress {
    margin-left:0px !important;
    width: 100% !important;
  }
  .questions{
    margin-left: 0 !important; 
  }
  .tagline-s{
    margin-top:10px;
    font-size:2em;
    text-align: left
  }
  .tagline{
    margin-top:10px;
    font-size:2em;
    text-align: center
  }
  .about{
    text-align: center;
  }
  .error-img{
    width: 100%;
    margin-top:10vh;
  }
  .thumbnail-info{
    padding: 4px;
    border:1px solid #000;
    border-radius: 0;
    margin:0 !important;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.1);
    text-align: center;
    cursor: pointer;
  }
}

@media only screen and (min-width:1440px){
  .tagline{
    margin-top: 35vh;
    font-size: 3.5em;
  }
  .tagline-s{
    margin-top: 30vh;
    font-size: 3.5em;
  }
  .about{
    font-size: 18px;
  }
  .login-img{
    margin-top: 26vh;
  }
  .would-img{
    margin-top:20vh
  }
  .error-img{
    width: 70%;
    margin-top:10vh;
  }
}




