@font-face{
  src: url('../assets/fonts/Dionisio-Bold.ttf');
  font-family: 'Dionisio';
}

@font-face{
  src: url('../assets/fonts/DankMono-Regular.ttf');
  font-family: 'Dank';
}

body {
  margin: 0;
  padding: 0;
  font-family: Dank;
}

.App {
  text-align: center;
}

.loading{
  margin-top:25vh;
}

.login{
  background-color: #000;
  color: #fff;
  border:none;
  padding:5px 15px;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.1)
}



